.h1 {
  font-size: 22px;
}

.h2 {
  font-size: 17px;
}

.h3 {
  font-size: 14px;
}

.h4 {
  font-size: 13px;
}

.h5 {
  font-size: 28px;
}

.h6 {
  font-size: 28px;
}

.subtitle1 {
  font-size: 22px;
}

.subtitle2 {
  font-size: 17px;
}

.subtitle3 {
  font-size: 14px;
}

.subtitle4 {
  font-size: 13px;
}

.subtitle5 {
  font-size: 28px;
}

.subtitle6 {
  font-size: 28px;
}

.body1 {
  font-size: 22px;
}

.body2 {
  font-size: 17px;
}

.body3 {
  font-size: 14px;
}

.body4 {
  font-size: 13px;
}

.body5 {
  font-size: 28px;
}

.body6 {
  font-size: 28px;
}
