* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --gray-blue: hsl(218, 22%, 67%);
}
/* colocar COR do Texto 
 */

.primary {
  color: hsl(179, 62%, 43%);
}

.secondary {
  color: hsl(71, 73%, 54%);
}

.third {
  color: hsl(204, 43%, 93%);
}

.fourth {
  color: hsl(218, 22%, 67%);
}
.fifth {
  color: hsl(0, 0%, 100%);
}
