* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --gray-blue: hsl(218, 22%, 67%);
}
/* colocar COR do Texto */

.color001 {
  color: hsl(179, 62%, 43%);
}

.color002 {
  color: hsl(71, 73%, 54%);
}

.color003 {
  color: hsl(204, 43%, 93%);
}

.color004 {
  color: hsl(218, 22%, 67%);
}

.color005 {
  color: hsl(0, 0%, 100%);
}

.color006 {
  color: hsl(179, 62%, 43%);
}

.color007 {
  color: hsl(71, 73%, 54%);
}

.color008 {
  color: hsl(204, 43%, 93%);
}

.color009 {
  color: hsl(218, 22%, 67%);
}
.color010 {
  color: hsl(0, 0%, 100%);
}
